.layout{
    height: auto;
    width: 500px;
    padding: 30px;
    margin-left: 30%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
}
.layout h1{
    text-align: center;
    font-size: 50px;
}
.layout input{
    height: 30px;
    width: 300px;
    margin:20px;
    border: 3px solid black;
}
.layout button{
    width: 100px;
    height: 50px;
    background-color: #0757ba;
    text-align: center;
    font-size: 20px;
    color: white;
    margin:10px;
    border: rgb(2, 2, 34);
    border: 1px solid black;
   
}